.c-build__container {
  .c-build {
    padding: 25% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    margin-bottom: 6rem;
    width: 50%;

    .c-build__img__general {
      position: absolute;
      z-index: -1000;
    }

    .c-build__circle {
      @extend .c-build__img__general;

      left: -25%;
      width: 50%;
      animation: comeIn 7.5s ease;
    }

    .c-build__wood {
      @extend .c-build__img__general;

      right: 0%;
      width: 80%;
    }
  }
}

@keyframes comeIn {
  0% {
    margin-left: -50%;
  }
}
