.c-footer {
  margin-top: 8rem;
  background: $secondary-white;

  .c-footer__top {
    @extend .u-text-body--small;
    padding: 2rem 0;
    font-size: 18px;

    &__title {
      @extend .u-text-body--small;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .c-footer__top__text--highlight {
      text-decoration: none;
      color: $base-red;
      text-decoration: underline;
    }

    & a {
      text-decoration: none;
      color: $base-black;
    }
  }

  .c-footer__bottom {
    padding: 1rem 0;
  }

  .c-footer__logo {
    display: flex;
    img {
      width: 80%;
    }
  }
}
.c-footer__socials {
  display: flex;
  align-items: center;
  justify-content: center;

  .c-footer__round-icon-btn {
    margin: 0 0.5rem;
    width: 48px;
    height: 48px;
    line-height: 27px;
    border-radius: 50px;
    background: $base-white;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 20px;
      max-height: 20px;
      width: 100%;
      filter: brightness(0) saturate(100%) invert(0%) sepia(2%) saturate(2971%) hue-rotate(344deg) brightness(81%)
        contrast(85%);
    }
  }
}
