.c-intro {
  .row {
    margin-bottom: 3rem;
  }

  .col-lg-4 {
    margin-bottom: 2rem;
    padding: 0;

    .c-intro__images {
      width: 100%;

      &:hover {
        animation: zoomIn 1s ease;
        transform: scale(1.02, 1.02);
        &:after {
          position: absolute;
          content: '';
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          background: linear-gradient(to bottom, transparent 80%, $base-black 100%);
        }
      }
    }
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.02, 1.02);
  }
}
