.c-nav {
  .c-nav__top {
    @extend .u-text-general;
    color: $base-black;
    font-size: 12px;
    line-height: 26px;
    max-height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    vertical-align: middle;
    * {
      margin: 2px 5px;
      padding: 0;
    }
    a:link,
    a:visited,
    a:hover,
    a:active {
      color: $base-black;
      text-decoration: none;
    }

    .c-nav__top__line {
      min-width: 2px;
      border-radius: 50px;
      background-color: $primary-light-gray;
      height: 20px;
    }

    .c-nav__top__nav-item {
      img:hover {
        animation: shake 1s;

        animation-iteration-count: infinite;
      }

      @keyframes shake {
        0% {
          transform: translate(1px, 1px) rotate(0deg);
        }
        10% {
          transform: translate(-1px, -2px) rotate(-1deg);
        }
        20% {
          transform: translate(-3px, 0px) rotate(1deg);
        }
        30% {
          transform: translate(3px, 2px) rotate(0deg);
        }
        40% {
          transform: translate(1px, -1px) rotate(1deg);
        }
        50% {
          transform: translate(-1px, 2px) rotate(-1deg);
        }
        60% {
          transform: translate(-3px, 1px) rotate(0deg);
        }
        70% {
          transform: translate(3px, 1px) rotate(-1deg);
        }
        80% {
          transform: translate(-1px, -1px) rotate(1deg);
        }
        90% {
          transform: translate(1px, 2px) rotate(0deg);
        }
        100% {
          transform: translate(1px, -2px) rotate(-1deg);
        }
      }
    }
  }

  .c-nav__bottom {
    .dropdown-menu {
      right: 0 !important;
    }
    .nav-item {
      display: flex;
      align-items: center;
      align-content: center;

      .nav-link {
        @extend .u-text-general;
        color: $base-black;
        font-weight: bold;
        font-size: 16px;
        line-height: 26px;

        &:hover {
          color: $base-red;
        }
      }
      &.active {
        .nav-link {
          color: $base-dark-red;
        }
      }
    }

    .c-nav__logo {
      height: 70px;
    }
    .c-nav__right {
      margin-left: auto;
    }
  }
}

@media (min-width: 1200px) {
  .c-nav {
    height: 128px;
  }
}
