/*======================================
*             base colors              *
======================================*/
$base-black: #131313;
$base-dark-red: #92292e;
$base-red: #cb2515;

/*======================================
*           primary colors             *
======================================*/
$primary-grey-l28: hsl(0, 0%, 28%);
$primary-grey-l44: hsl(0, 0%, 44%);
$primary-light-gray: hsl(240, 5%, 79%);
$primary-white: hsl(240, 45%, 98%);

/*======================================
*          secondary colors            *
======================================*/
$secondary-blue: #add0ce;
$secondary-yellow: #fff39b;
$secondary-light-yellow: #ebe9d5;
$secondary-orange: #ffc683;
$secondary-dark-brown: #523500;
$secondary-brown: #915207;
