/*======================================
*            import config             *
======================================*/
@import './config/colors', './config/typography', './config/variables';

/*======================================
*           import component           *
======================================*/
/*============= General ==============*/
@import './component/btn', './component/imageSlider';

/*============ Homepage ==============*/
@import './component/_homepage/homepage';
