.c-btn {
  @extend .u-text-body--small;

  position: relative;
  border: none;
  width: 100%;
  text-align: center;
  border-radius: 0;
  border: none;
  padding: 0.5rem 2rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
  background: $base-black;
  color: $base-white;
  overflow: hidden;

  &:enabled {
    &:hover {
      color: $base-white;
      background: $primary-grey-l28;
    }
    &:focus {
      background: $primary-grey-l18;
    }
  }
  &:disabled,
  &.disabled {
    opacity: 0.2;
  }

  &:hover {
    cursor: pointer;
  }

  *:before,
  *:after {
    z-index: -1;
  }

  &.c-btn__transparent__big {
    @extend .u-text-h6;

    padding: 0.75rem 3rem;
    background: $base-white;
    color: $base-black;
    border: 4px solid $base-black;

    &:enabled {
      &:hover {
        color: $base-white;
        background: $primary-grey-l28;
        border-color: $primary-grey-l28;
      }

      &:focus {
        color: $base-white;
        background: $primary-grey-l18;
        border-color: $primary-grey-l18;
      }
    }

    &:disabled,
    &.disabled {
      opacity: 0.2;
    }
  }

  &.c-btn__red {
    background: $base-dark-red;
    color: $base-white;

    &:enabled {
      &:hover {
        background: $base-red;
      }
      &:focus {
        background: $btn-pressed-red;
      }
    }
    &:disabled,
    &.disabled {
      opacity: 0.5;
    }
  }

  &.c-btn__white {
    background: $base-white;
    color: $base-black;

    &:disabled,
    &.disabled {
      background: $base-black;
      color: $base-white;
      opacity: 0.2;
    }
  }

  &.c-btn__transparent {
    font-weight: normal;
    background: transparent;
    color: $base-black;
    border: 2px solid $base-black;

    span {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-radius: 50%;
      background-color: $base-white;
      -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
      transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: -1;
    }

    &:enabled {
      &:hover {
        color: $base-black;
        background: transparent;

        span {
          width: 225%;
          height: 600px;
        }
      }

      &:focus {
        color: $base-white;
        background: $primary-grey-l28;
        border-color: $primary-grey-l28;
      }
    }

    &:disabled,
    &.disabled {
      opacity: 0.2;
    }
  }
}
